.header {
    background-color: pink;
    text-align: center;
    border: solid gray 4px;
    margin-left: 30%;
    margin-right: 30%;
}
.main {
    background-color: pink;
    text-align: center;
    border: solid gray 4px;
    margin-left: 30%;
    margin-right: 30%;
}